<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
    <title>
        You cannot use this service
    </title>
</head>
<div id="company-confirmation-main-content" layout:fragment="content">

    <form th:action="@{''}" method="post" class="form" id="company-confirmation">

        <h1 class="govuk-heading-xl">
            You cannot use this service

        </h1>

        <h2 class="govuk-body">We cannot post an authorisation code to an officer's home address because the company:</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>is dissolved</li>

            <li>does not have any active officers</li>

            <li>in not based in the UK</li>

            <li>is a limited partnership (LP)</li>

            <li>is no longer active (insolvent)</li>

            <li>only has corporate officers</li>
            <p></ul>

        <p class="govuk-body">You are still able to <a href="/webfiling">request an authorisation code to the company's registered office address in
            WebFiling</a>.
        <p>


    </form>
</div>
</html>