<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
    <title>
        You cannot use this service
    </title>
</head>
<div id="cannot-use-service-main-content" layout:fragment="content">

    <form th:action="@{''}" method="post" class="form" id="cannot-use-service">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">
                    You cannot use this service

                </h1>

                <h2 class="govuk-heading-m">We cannot post an authentication code to an officer's home address.</h2>

                <p class="govuk-body">This may be because:</p>

                <ul class="govuk-list govuk-list--bullet">

                    <li>
                        in the last 3 days, someone requested an authentication code for the company</li>
                    <li>in the last 24 hours, you have used the same email address to request 3 authentication codes for different companies
                    </li>
                </ul>
                <p class="govuk-body">or the company:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>has filed a document online in the last 30 days</li>
                    <li>does not have any active officers</li>

                    <li>is not based in the UK</li>

                    <li>is a limited partnership (LP)</li>

                    <li>is no longer active (insolvent)</li>

                    <li>only has corporate officers</li>
                    <p class="govuk-body"></ul>

                <p class="govuk-body">You are still able to <a class="govuk-link" href="https://ewf.companieshouse.gov.uk/">request an authorisation code to the company's registered office
                    address in WebFiling</a>.
                </p>
            </div>
        </div>

    </form>
</div>
</html>
