<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
    <title>Confirmation Page</title>
</head>
<div id="confirmation-page-main-content" layout:fragment="content">

    <form th:action="@{''}" method="post" class="form" id="confirmation-page">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">Request submitted</h1>
                    <div class="govuk-panel__body">
                        We will post the authentication code to the director's home address.
                    </div>
                </div>
                <p class="govuk-body">
                </p>
                <h2 class="govuk-heading-m">How long it takes</h2>
                <p class="govuk-body">It takes around 5 working days for an authentication code to be delivered to a director's home address.</p>
                <div class="govuk-warning-text">
                    <span style="top:10%;" class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong style="margin-left:auto;" class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        Due to the impact of coronavirus (COVID-19) it may take longer than usual for post to be delivered.
                    </strong>
                </div>

                <h2 class="govuk-heading-m">How to contact us</h2>
                <p class="govuk-body">If delivery of the letter is taking longer than you'd expect, email us at <a href="email">enquiries@companieshouse.gov.uk</a>.
                </P>
                <p class="govuk-body">Our telephone contact centre is now closed to protect the welfare of our employees during the coronavirus
                    (COVID-19) outbreak.</p>

                <h2 class="govuk-heading-m">What do you want to do next?</h2>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        <a href="/print">Print this page for your records</a>
                    </li>
                    <li>
                        <a href="/sign-out">Sign out</a>
                    </li>
                </ul>
                <p class="govuk-body govuk-!-margin-top-7">
                    Help us to <a href="feedback">improve this service by completing our quick survey</a>.
                </p>
            </div>
        </div>
    </form>
</div>
</html>
