<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
    <title>Select an officer</title>
</head>
<div id="officer-list-main-content" layout:fragment="content">

    <form th:action="@{''}" method="post" th:object="${eacOfficer}" class="form" id="officer-list">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div th:replace="fragments/globalErrors :: globalErrors"></div>
                <div class="govuk-form-group" th:classappend="${#fields.hasErrors('id')} ? 'govuk-form-group--error' : ''">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Which officer needs the authentication code?
                        </h1>
                    </legend>
                    <span class="govuk-error-message"
                          id="id-errorId"
                          th:if="${#fields.hasErrors('id')}"
                          th:each="e : ${#fields.errors('id')}" th:text="${e}" >
                    </span>
                    <span id="list-of-officers-hint" class="govuk-hint">
                        You should only select an officer if you know they have given us their most recent home address.
                    </span>
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-visually-hidden">Which officer needs the authentication code?</legend>
                        <div class="govuk-radios">

                            <div th:each="officer : ${eacOfficerList.items}" class="govuk-radios__item">
                                <input class="govuk-radios__input"
                                       name="chooseOfficerRadio"
                                       type="radio"
                                       th:id="${officer.id}"
                                       th:value="${officer.id}"
                                       th:field="*{id}"
                                       th:errorclass="govuk-error-message">
                                <label class="govuk-label govuk-radios__label" th:for="${officer.id}" th:text="${officer.name}"
                                       id="list-of-officers-label">
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <input id="next-button" class="govuk-button" type="submit" role="button" value="Continue"/>
            </div>
        </div>
    </form>
</div>
</html>
