<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
    <title>Confirm this is the correct officer</title>
</head>
<div id="officer-confirm-main-content"  layout:fragment="content">

    <form th:action="@{''}" th:object="${officerConfirmation}" method="post" class="form" id="officer-confirmation">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div th:replace="fragments/globalErrors :: globalErrors"></div>
                <h1 class="govuk-heading-l">Confirm this is the correct officer</h1>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value" th:id="${eacOfficer.id}" th:text="${eacOfficer.name}"></dd>

                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Role
                        </dt>
                        <dd class="govuk-summary-list__value" th:id="${eacOfficer.officerRole}" th:text="${eacOfficer.officerRole}"></dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date of birth
                        </dt>
                        <dd class="govuk-summary-list__value" th:id="${eacOfficerDOBMonth} + ' ' + ${eacOfficer.dateOfBirth.year}" th:text="${eacOfficerDOBMonth} + ' ' + ${eacOfficer.dateOfBirth.year}"></dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Appointed on
                        </dt>
                        <dd class="govuk-summary-list__value" th:id="${eacOfficerAppointment}" th:text="${eacOfficerAppointment}"></dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Nationality
                        </dt>
                        <dd class="govuk-summary-list__value" th:id="${eacOfficer.nationality}" th:text="${eacOfficer.nationality}"></dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Country of residence
                        </dt>
                        <dd class="govuk-summary-list__value" th:id="${eacOfficer.countryOfResidence}" th:text="${eacOfficer.countryOfResidence}"></dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Occupation
                        </dt>
                        <dd class="govuk-summary-list__value" th:id="${eacOfficer.occupation}" th:text="${eacOfficer.occupation}"></dd>
                    </div>
                </dl>
                <div class="form-group" th:classappend="${#fields.hasErrors('confirm')} ? 'govuk-form-group--error' : ''">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-visually-hidden">I confirm that I want the authentication code sent to the most recent home address given to Companies House</legend>
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <span class="govuk-error-message"
                                  id="id-errorId"
                                  th:if="${#fields.hasErrors('confirm')}"
                                  th:each="e : ${#fields.errors('confirm')}" th:text="${e}" >
                            </span>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input"
                                       id="checkConfirmOfficer"
                                       name="checkConfirmOfficer"
                                       type="checkbox"
                                       th:field="*{confirm}"
                                       th:errorclass="govuk-error-message">
                                <label class="govuk-label govuk-checkboxes__label" for="checkConfirmOfficer" id="checkConfirmOfficer-label"
                                       th:text="'I confirm that I want the authentication code sent to the most recent home address given to Companies House for ' + ${eacRequest.officerName}">
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <p></p>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              Why can I not see the home address?
                            </span>
                    </summary>
                    <div class="govuk-details__text">
                        We do not make details of an officer's home address publicly available for security reasons. <br><br>We will post the authentication code to the most recent home address that the officer has given us.
                    </div>
                </details>
                <input id="next-button" class="govuk-button" type="submit" role="button" value="Confirm and submit"/>
            </div>
        </div>
    </form>
</div>
</html>
