<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
    <!--[if lte IE 8]>
    <link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css"/><![endif]-->
    <!--[if gt IE 8]><!-->
    <link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css"/><!--<![endif]-->

    <title>Request an authentication code to be sent to a home address</title>
</head>
<div id="start-main-content" layout:fragment="content">

    <form th:action="@{''}" method="post" class="form" id="start-page">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">

                    Request an authentication code to be sent to a home address

                </h1>
                <p class="govuk-body-l">Use this service to get a company's authentication code posted to an active director's home address instead of
                    the registered office.
                </p>

                <h2 class="govuk-heading-s">You'll need:</h2>
                <ul class="govuk-list govuk-list--bullet">
                    <li>the company number</li>
                    <li>to sign in to or create a Companies House account, which is different from a WebFiling account</li>
                    <p></ul>

                <h2 class="govuk-heading-s">You cannot use this service if:</h2>

                <ul class="govuk-list govuk-list--bullet">
                    <li>the company is not based in the UK</li>
                    <li>the company is not a limited company or limited liability partnership (LLP)</li>
                    <li>the company is dissolved</li>
                    <p>
                </ul>

                <h2 class="govuk-heading-m">How long it takes</h2>
                <p class="govuk-body">It takes around 5 working days for a director to receive an authentication code at their home address.</p>
                <p class="govuk-body">Due to the impact of coronavirus (COVID-19), it may take longer than usual for post to be delivered.</p>
                <div class="govuk-warning-text">
                    <span style="top:10%;" class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong style="margin-left:auto;" class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        You should only use this service if you know the director has given us their most recent home address. For security reasons, you cannot see or update the address in this service.
                    </strong>
                </div>

                <input id="next-button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" type="submit"
                       role="button" value="Start now" data-event-id="emergency-auth-code - Start now" onclick="_paq.push(['trackGoal', 3]);"/>
            </div>


            <div class="govuk-grid-column-one-third">
                <aside class="app-related-items" role="complementary">
                    <h2 class="govuk-heading-m" id="subsection-title">
                        Guidance
                    </h2>
                    <nav role="navigation" aria-labelledby="subsection-title">
                        <ul class="govuk-list
    govuk-!-font-size-16">
                            <li>
                                <a href="https://www.gov.uk/guidance/company-authentication-codes-for-online-filing" target="_blank">
                                    Company authentication codes for online filing
                                    <span class="govuk-visually-hidden">Link opens in new tab/window</span>
                                </a>
                        </ul>
                    </nav>
                </aside>
            </div>
        </div>
    </form>
</div>
</html>
