<!DOCTYPE html>

<html layout:decorate="~{layouts/baseLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!--[if lte IE 8]>
    <link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css"/><![endif]-->
    <!--[if gt IE 8]><!-->
    <link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css"/><!--<![endif]-->

    <title>Request an authentication code to be sent to a home address</title>
</head>
<div id="start-main-content" layout:fragment="content">

    <form class="form" id="start-page" method="post" th:action="@{''}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">

                    Request an authentication code to be sent to a home address

                </h1>
                <p class="govuk-body-l">Use this service to get a company's authentication code posted to an active officer's home address instead of
                    the registered office.
                </p>

                <div class="govuk-inset-text">
                    This interim service has been created in response to the coronavirus (COVID-19) outbreak.
                </div>

                <p
                        class="govuk-body">To reduce the risk of fraud, we only send authentication codes by post.
                </p>

                <h2 class="govuk-heading-s">You'll need:</h2>
                <ul class="govuk-list govuk-list--bullet">
                    <li>the company number</li>
                    <li>to sign in to or create a Companies House account, which is different from a WebFiling account</li>
                    <p></ul>

                <h2 class="govuk-heading-s">You cannot use this service if the company:</h2>

                <ul class="govuk-list govuk-list--bullet">
                    <li>has filed a document online in the last 30 days</li>
                    <li>is not based in the UK</li>
                    <li>is not a limited company or limited liability partnership (LLP)</li>
                    <li>is dissolved</li>
                    <p>
                </ul>

                <h2 class="govuk-heading-m">How long delivery takes</h2>
                <p class="govuk-body">It takes around 5 working days for an officer to receive an authentication code at their home address.</p>
                <p class="govuk-body">Due to the impact of coronavirus (COVID-19), it may take longer than usual for post to be delivered.</p>
                <div class="govuk-warning-text">
                    <span aria-hidden="true" class="govuk-warning-text__icon" style="top:10%;">!</span>
                    <strong class="govuk-warning-text__text" style="margin-left:auto;">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        You should only use this service if you know the officer has given us their most recent home address. For security reasons,
                        you cannot see or update the address in this service.
                    </strong>
                </div>
                <button class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start"
                        data-event-id="emergency-auth-code - Start now" data-module="govuk-button" draggable="false" id="next-button"
                        onclick="_paq.push(['trackGoal', 3]);" role="button">
                    Start now
                    <svg aria-hidden="true" class="govuk-button__start-icon" focusable="false" height="19" viewBox="0 0 33 40"
                         width="17.5" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h13l20 20-20 20H0l20-20z" fill="currentColor"/>
                    </svg>
                </button>
            </div>


            <div class="govuk-grid-column-one-third">
                <aside class="app-related-items" role="complementary">
                    <h2 class="govuk-heading-m" id="subsection-title">
                        Guidance
                    </h2>
                    <nav aria-labelledby="subsection-title" role="navigation">
                        <ul class="govuk-list govuk-!-font-size-16">
                            <li>
                                <a href="https://www.gov.uk/guidance/company-authentication-codes-for-online-filing" target="_blank">
                                    Company authentication codes for online filing
                                    <span class="govuk-visually-hidden">Link opens in new tab/window</span>
                                </a>
                        </ul>
                    </nav>
                </aside>
            </div>
        </div>
    </form>
</div>
</html>
