<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
<div class="govuk-phase-banner" th:fragment="alphaBanner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag "> alpha </strong>
        <span class="govuk-phase-banner__text"
              th:if="${surveyLink != null}">
          This is a new service - your <a  id="feedback-link" th:href="${surveyLink}" target="_blank" class="govuk-link">feedback</a> will help us to improve it.
         </span>
    </p>
</div>
</body>
</html>
